In [1]:
import pandas as pd
import numpy as np

In [2]:
# Import Module 
import os 

# Folder Path 
#path = "C:/Users/gs929/OneDrive - University of Bath/Uni/NLP_Coursework/data/pos"
path = "C:/Users/giova/OneDrive/Documenti/GitHub/NLP_Coursework/data/pos"

# Change the directory 
os.chdir(path) 

# Read text File 

# iterate through all file 
pos_reviews = []
pos_review_id = []
pos_review_score = []
for file in os.listdir(): 
	# Check whether file is in text format or not 
	if file.endswith(".txt"): 
		file_path = f"{path}/{file}"
		#print(file_path)
		f = open(file_path, "r", encoding="utf8")
		pos_reviews.append(f.read())
		pos_review_id.append(file.split('_')[0])
		pos_review_score.append(file.split('_')[1][0])
		#for j in range(len(f.read().split("<br /><br />"))):
		#print(f.read())

In [3]:
# Import Module 
import os 

# Folder Path 
#path = "C:/Users/gs929/OneDrive - University of Bath/Uni/NLP_Coursework/data/neg"
path = "C:/Users/giova/OneDrive/Documenti/GitHub/NLP_Coursework/data/neg"

# Change the directory 
os.chdir(path) 

# Read text File 


# iterate through all file 
neg_reviews = []
neg_review_id = []
neg_review_score = []
for file in os.listdir(): 
	# Check whether file is in text format or not 
	if file.endswith(".txt"): 
		file_path = f"{path}/{file}"		
		f = open(file_path, "r", encoding="utf8")
		neg_reviews.append(f.read())
		neg_review_id.append(file.split('_')[0])
		neg_review_score.append(file.split('_')[1][0])
		#print(f.read())

In [4]:
pos_label = [1 for i in range(len(pos_reviews))]
neg_label = [0 for i in range(len(neg_reviews))]

In [5]:
pos_df = pd.DataFrame(
    {'review': pos_reviews,
     'label': pos_label,
     'score': pos_review_score,
     'id': pos_review_id
    })
pos_df

                                                 review  label score     id
0     Homelessness (or Houselessness as George Carli...      1     8  10000
1     You know, Robin Williams, God bless him, is co...      1     7  10008
2     Like one of the previous commenters said, this...      1     7  10013
3     When it comes to movies I can be pretty picky,...      1     8  10019
4     The legendary Boris Karloff ended his illustri...      1     8  10020
...                                                 ...    ...   ...    ...
1995  I have to say, I loved Vanishing Point. I've s...      1     8   9978
1996  I saw this film in Winnipeg recently - appropr...      1     9   9985
1997  I was very moved by the story and because I am...      1     9   9987
1998  This is a really interesting movie. It is an a...      1     7    998
1999  This is the kind of film you want to see with ...      1     1   9995

[2000 rows x 4 columns]

In [11]:
neg_df = pd.DataFrame(
    {'review': neg_reviews,
     'label': neg_label,
     'score': neg_review_score,
     'id': neg_review_id
    })
neg_df

                                                 review  label score     id
0     The film is bad. There is no other way to say ...      0     2  10008
1     This film is about a male escort getting invol...      0     3  10011
2     A worn-out plot of a man who takes the rap for...      0     1  10013
3     Ghost of Dragstrip Hollow is a typical 1950's ...      0     2  10015
4     "Ghost of Dragstrip Hollow" appears to take pl...      0     4  10017
...                                                 ...    ...   ...    ...
1995  I had the misfortune to watch this rubbish on ...      0     2   9989
1996  It's pretty bad when the generic movie synopsi...      0     2    998
1997  Hmmm, a sports team is in a plane crash, gets ...      0     2   9994
1998  Although the production and Jerry Jameson's di...      0     4   9996
1999  This is one of the dumbest films, I've ever se...      0     1      9

[2000 rows x 4 columns]

In [18]:
reviews = pd.concat([pos_df, neg_df], ignore_index=True)

In [19]:
path = "C:/Users/giova/OneDrive/Documenti/GitHub/NLP_Coursework"
os.chdir(path) 
reviews = reviews.dropna()
reviews = reviews[reviews.review != '']
reviews = reviews.reset_index()
reviews.to_csv('reviews.csv', index = False)

In [20]:
reviews

,index,review,label,score,id
0,0,Homelessness (or Houselessness as George Carli...,1,8,10000
1,1,"You know, Robin Williams, God bless him, is co...",1,7,10008
2,2,"Like one of the previous commenters said, this...",1,7,10013
3,3,"When it comes to movies I can be pretty picky,...",1,8,10019
4,4,The legendary Boris Karloff ended his illustri...,1,8,10020
...,...,...,...,...,...
3995,3995,I had the misfortune to watch this rubbish on ...,0,2,9989
3996,3996,It's pretty bad when the generic movie synopsi...,0,2,998
3997,3997,"Hmmm, a sports team is in a plane crash, gets ...",0,2,9994
3998,3998,Although the production and Jerry Jameson's di...,0,4,9996
3999,3999,"This is one of the dumbest films, I've ever se...",0,1,9